.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 80px;
    border-bottom: 1px solid #C8D7FF;
    padding: 12px 96px 12px 96px;
}
.header h5{
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #2140D4;
}
.links{
    display: flex;
    align-items: center;
    max-width: 528px;
    height: 32px;
    gap: 100px;
}
.links a {
    font-size: 16px;
    color: #4C5D77;
    text-decoration: none;
}
.links div{
    display: flex;
    justify-content: space-between;
    width: 415px;
    height: 24px;
}

.buttons{
    display: flex;
    align-items: center;
    max-width: 303px;
    gap: 10px;
}
.buttons button{
    width: 154px;
    height: 56px;
    border-radius: 32px;
    padding: 16px 32px ;
    background-color: #2140D4;
    color: #fff;
    border: none;
    transition:all ease-in 0.1s ;
}
.buttons span{
    width: 53px;
    height: 24px;
    gap: 16px;
    color: #4C5D77;
}

.buttons button:hover{
    color: #5A89FF;
    background-color: #65BBE5;
}
