.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 80px;
  border-bottom: 1px solid #c8d7ff;
  padding: 12px 96px 12px 96px;
  margin: auto;
  gap: 269px;
}
.header h5 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #2140d4;
}
.links {
  display: flex;
  align-items: center;
  max-width: 528px;
  height: 32px;
  gap: 100px;
}
.links a {
  width: max-content;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  color: #4c5d77;
  text-decoration: none;
}
.links div {
  display: flex;
  height: 24px;
  gap: 48px;
}

.buttons {
  display: flex;
  align-items: center;
  max-width: 303px;
  height: 56px;
  gap: 32px;
}
.buttons button {
  width: 154px;
  height: 56px;
  border-radius: 32px;
  padding: 16px 32px;
  background-color: #2140d4;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  transition: all ease-in 0.1s;
  cursor: pointer;
}
.buttons span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 53px;
  height: 24px;
  cursor: pointer;
  color: #4c5d77;
}

.buttons button:hover {
  color: #5a89ff;
  background-color: #65bbe5;
}

.dark a{
    width: max-content;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  color: #81A2D2;
  text-decoration: none;
}

.darkbutton {
    display: flex;
    align-items: center;
    max-width: 303px;
    height: 56px;
    gap: 32px;
  }
  .darkbutton button {
    width: 154px;
    height: 56px;
    border-radius: 32px;
    padding: 16px 32px;
    background-color: #2140d4;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    transition: all ease-in 0.1s;
    cursor: pointer;
  }
  .darkbutton span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 53px;
    height: 24px;
    cursor: pointer;
    color:#81A2D2;
  }
  
  .darkbutton button:hover {
    color: #5a89ff;
    background-color: #65bbe5;
  }
  .hamburger{
    position: relative;
    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    background-color: #2140D4;
    color: #fff;
  }
  .hamlink{
    
    position: absolute;
    display: flex;
    width: 100%;
    height: 189px;
    background-color: #FAFBFF;
    flex-direction: column;
    top: 90px;
    gap: 31px;
  }
  @media (max-width: 375px) {
    .header {
      display: flex;
      max-width: 100%;
      flex-direction: row;
      /* align-items: center; */
      padding: 12px;
      gap: 16px;
    }
  
 .nav a , .dark a , .buttons{
  display: none;
 }
 .buttons1 {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 303px;
  height: 56px;
  gap: 32px;
}
.buttons1 button {
  width: 100%;
  height: 56px;
  border-radius: 32px;
  padding: 16px 32px;
  background-color: #2140d4;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  transition: all ease-in 0.1s;
  cursor: pointer;
}
.buttons1 span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 53px;
  height: 24px;
  cursor: pointer;
  color: #4c5d77;
}

.buttons1 button:hover {
  color: #5a89ff;
  background-color: #65bbe5;
}
  
  }