.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 476px;
  padding: 48px 96px;
  background-color: #decbe9;
  gap: 72px;
}
.text {
  max-width: 575px;
  height: 174px;
}
.text p {
  font-size: 48px;
  font-weight: 900;
  line-height: 100%;
  margin-bottom: 30px;
  color: #23262f;
}
.text span {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.image {
  max-width: 450px;
  height: 320px;
}
.image img {
  max-width: 350px;
  max-height: 320px;
}
.table {
  max-width: 1000px;
  max-height: fit-content;
  background-color: #ededed;
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
  padding: 56px 40px;
}
.table button{
  margin: 20px auto;
  display: block;
  background-color: #2140d4;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding:16px 32px;
  gap: 10px;
  border: none;
  border-radius: 32px;
  width: 300px;
  height: 50px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.table button:hover{
  color: #5A89FF;
  background-color: #65BBE5;
}
@media(max-width : 375px){
  .container{
   max-width:375px;
   height:fit-content;
  }
  .head{
    display: flex;
    flex-direction: column;
    min-width: 375px;
    min-height: 532.49px;
    padding: 0px 24px;
    gap: 48px;
  }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 311px;
    height: 210px;
    gap: 24px;
  }
  .text p{
    width: 311px;
    height: 126px;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1%;
  }
  .text span{
    width: 311px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1%;
    text-align: center;
  }
  .image{
    width: 311px;
    height: 226.49px;
    display: flex;
    justify-content: center;
  }
  .image img{
    width: 250px;
    height: 250px;
  }
  .table{
    min-width: 375px;
    height: fit-content;
    padding-bottom: 24px;
    gap: 48px;
    border-radius: 0;
    padding: 0;
  }
}
